
<div class="form">
  <h1 class="form__h1">Tech Talks</h1>
  <h2 class="form__title">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form__field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__field--input", placeholder: "Email" %>
    </div>

    <div class="form__field">
      <%= f.password_field :password, autocomplete: "current-password", class: "form__field--input", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form__field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "form__field--remember" %>
      </div>
    <% end %>

    <div class="form__actions">
      <%= f.submit "Log in", class: "form__actions--submit" %>
      <div class="form__actions--links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>

</div>
