<!DOCTYPE html>
<html>
  <head>
    <title>TechTalks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header class="header pt-2 pb-2 pl-5 pr-5">      
      <nav class="nav">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav__link") %> 
      </nav>
    <% end %>
      

      <% if notice %> 
        <p class="notice"><%= notice %></p>
      <% elsif %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
